@media (min-width: 805px) {
  .MobileFooter {
    display: none;
  }
}
.MobileFooter {
  margin-bottom: 15px;
  .Menu {
    padding-bottom: 42px;
    ul {
      li {
        border-bottom: 1px solid #9fb2cc;
        a {
          display: flex;
          align-items: center;
          margin-left: 31px;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          min-height: 55px;

          color: #4f4f4f;
        }
      }
    }
  }
  .Networks {
    padding-bottom: 24px;
    ul {
      display: flex;

      justify-content: center;
    }
    .Seti {
      position: relative;
      width: 34px;
      height: 34px;

      border-radius: 50%;
      background: #2f3e6d;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Seti:not(:last-child) {
      margin-right: 13px;
    }
  }

  .Contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
    a {
      color: #000000;
      text-decoration: none;
    }
    .MainNumber {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 0;
    }
    span {
      font-size: 16px;
      line-height: 19px;
      color: #56688a;
    }
    ul {
      text-align: center;
      li:not(:first-child) {
        margin-bottom: 9px;
      }
      li {
        font-size: 18px;
        line-height: 21px;
      }
      .Line {
        width: 52px;
        height: 2px;
        margin: 14px auto 12px;
        background: #dfdfdf;
      }
    }
  }
  .Registry {
    display: flex;
    align-items: center;
    flex-direction: column;
    svg {
      margin-bottom: 28px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      width: 260px;
      text-align: center;
      color: #3b348a;
    }
  }
}
